package __package__;

/**
 * __desc__
 * mod: __mod__
 * method: __action__
 */
public final class __class__ implements java.util.concurrent.Callable<Object> {
    @Override
    public Object call() {
        //__parameter__
        return null;
    }
}